<div class="row">
  <main class="col-md-12">
    <h1>About</h1>
    <p>Name : Harshkumar Panchal</p>
    <p>Student ID: 125611210</p>
    <p>Student Email: hmpanchal2@myseneca.ca</p>
    <p>Course: WEB322</p>

  </main>
</div>