<div class="row">
  <main class="col-md-12">
    <h1>Welcome to WEB322 Assignment 6</h1>
    <p>This is the last assignment for this course. In this assignment we are
      asked to display data from a data server.</p>
  </main>
</div>